<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin</title>
</head>
<body>
        <div id="admin-id" data-id="{{ session['id_admin'] }}"></div>
        <h1>Bienvenido {{ nombre }}</h1> <!-- Muestro en nombre de admin-->
        <div>
            <a href="{{url_for('admin_bp.listar_carreras')}}">
                <button>Ver Carreras</button>
            </a>
            <br>
            <a href="{{url_for('admin_bp.listar_caballos')}}">
                <button>Ver Caballos</button>
            </a>
            
            <br>
            <a href="{{url_for('admin_bp.registrar')}}">
                <button>Registrar Admin</button>
            </a>
            <br>
            <a href="{{url_for('admin_bp.logout')}}">
                <button>Cerrar Sesion</button>
            </a>
            <a href="{{url_for('admin_bp.listar_admins')}}">
                <button>Ver Admins</button>
            </a>
            <a href="{{url_for('admin_bp.listar_usuarios')}}">
                <button>Ver usuarios</button>
            </a>
        </div>
</body>
</html>