
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h2>Lista de Usuarios</h2>
    {% if usuariuos== "No hay usuarios creados" %}
        <p>{{ usuarios }}</p>
    {% elif usuarios %}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.id_usuario}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.saldo}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>Error al obtener los usuarios</p>
    {% endif %}
    <br>
    <a href="{{url_for('admin_bp.menu')}}">
        <button>Atras</button>
    </a>
</body>
</html>